BOT_TOKEN=replace_with_botfather_token
DATABASE_URL=sqlite+aiosqlite:///./mafia_vmeda.db
REDIS_URL=redis://localhost:6379/0
LOG_LEVEL=INFO
BOT_ADMIN_ID=1326779223
MIN_PLAYERS=4
MAX_PLAYERS=50
NIGHT_SECONDS=60
DISCUSSION_SECONDS=120
VOTING_SECONDS=60
VERDICT_SECONDS=30
